<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Incident Notification</h1>
    <h3><%= @incident.name %></h3>
    <p>
      <%= @incident.lat %>, <%= @incident.lon %>
    </p>
    <p>
      <%= @incident.acres %> acres
    </p>
    <p>
      <%= @incident.notes %>
    </p>
  </body>
</html>
