<!DOCTYPE html>
<html>
  <head>
    <title>Devchallenge</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <main class="container">
      <% flash.each do |key, message| %>
        <%= message %>
      <% end %>

      <% if signed_in_user? %>
        Welcome, <%= link_to current_user.name, current_user %>!
        <%= link_to "Logout", logout_path, :method => :delete %>
      <% else %>
        <%= link_to "Login", login_path %>
      <% end %>

      <%= yield %>
    </main>

  </body>
</html>
